* {
    text-decoration: none;
}

.navbar {
    background: darkred;
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    left: 15px;
    padding-left: 15px;
}

.navdiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

logo a {
    font-size: 40px;
    font-weight: 600px;
    color: white;
}

li {
list-style: none;
display: inline-block;
}

li a {
    font-size: 18px;
    font-weight: bold;
    color: white;
    margin-right: 25px;
}

button {
    background: white;
    border-radius: 10px;
padding: 10px;
margin-left: 10px;
width: 80px;
}

button a {
    font-size: 15px;
    font-weight: bold;
    color: blue;
}