* {
  text-decoration: none;
}

.navbar {
  background: crimson;
  font-family: calibri;
  position-left: 15px;
  padding-left: 15px;
}

.navdiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo a{
  font-size: 35px;
  font-weight: 600px;
  color: white;
}

li {
  list-style: none;
  display: inline-block;
}

li a{
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin-right: 25px;
}

button {
  background-color: rgb(250, 246, 246);
  margin-left: 10px;
  border-radius: 10px;
  padding: 10px;
  width: 90px;
}

button a{
  color: #4e06f7;
  font-weight: bold;
  font-size: 15px;
}