body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: rgb(114, 71, 71);
    color: rgb(230, 225, 225);
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}