body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: rgb(114, 71, 71);
    color: rgb(230, 225, 225);
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

* {
  text-decoration: none;
}

.navbar {
  background: crimson;
  font-family: calibri;
  position-left: 15px;
  padding-left: 15px;
}

.navdiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo a{
  font-size: 35px;
  font-weight: 600px;
  color: white;
}

li {
  list-style: none;
  display: inline-block;
}

li a {
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin-right: 25px;
}

button {
  background-color: black;
  margin-left: 10px;
  border-radius: 10px;
  padding: 10px;
  width: 90px;
}

button a{
  color: white;
  font-weight: bold;
  font-size: 15px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}